<template>
    <div class="sidebar" data-color="azure" data-background-color="black"
    ><div class="sidebar-background" style="background-image: url('/images/sidebar-1.jpg') "></div>

        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a href="/" class="simple-text logo-normal">
                <img src="" width="60">
                YOUR PROJECT NAME
            </a>

        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <router-link tag="li" :to="{ name: 'home' }" class="nav-item" exact>
                    <a class="nav-link">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </router-link>
                <template>

                    <li class="nav-item">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#userManagement" aria-expanded="false" >
                            <i class="material-icons">person</i>
                            <p> Manage Users
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="userManagement" style="">
                            <ul class="nav">
                                <router-link tag="li" :to="{ name: 'permissionIndex' }" class="nav-item" exact
                                             v-if="$can(['permission_view','permission_create','permission_edit','permission_delete'])">
                                    <a class="nav-link" >
                                        <span class="sidebar-mini"> P </span>
                                        <span class="sidebar-normal"> Permissions </span>
                                    </a>
                                </router-link>
                                <router-link tag="li" :to="{ name: 'roleIndex' }"class="nav-item" exact v-if="$can(['role_view','role_create','role_edit','role_delete'])">
                                    <a class="nav-link">
                                        <span class="sidebar-mini"> R </span>
                                        <span class="sidebar-normal"> Roles </span>
                                    </a>
                                </router-link>
                                <router-link tag="li" :to="{ name: 'userIndex' }"class="nav-item" exact v-if="$can(['user_view','user_create','user_edit','user_delete'])">
                                    <a class="nav-link">
                                        <span class="sidebar-mini"> U </span>
                                        <span class="sidebar-normal"> Users </span>
                                    </a>
                                </router-link>
                            </ul>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "sidebar"
    }
</script>

<style scoped>

</style>
