<template>
    <div>
        <div class="wrapper ">
            <!--Sidebar-->
            <Sidebar></Sidebar>
            <!--End Sidebar-->
            <div class="main-panel">
                <!-- Navbar -->
                <Navbar></Navbar>
                <!-- End Navbar -->
                <div class="content">
                    <b-breadcrumb :items="crumbs">
                    </b-breadcrumb>
                    <transition name="fade">
                        <router-view></router-view>
                    </transition>
                </div>
                <!--Footer-->
                <Footer></Footer>
                <!--End Footer-->
            </div>
        </div>
    </div>

</template>

<script>
    import Sidebar from "./layout/Sidebar";
    import Navbar from "./layout/Navbar";
    import Footer from "./layout/Footer";

    export default {
        name: "App",
        components: {
            Footer,
            Navbar,
            Sidebar,
        },
        computed: {
            crumbs: function() {
                return this.$route.meta.breadCrumbs;
            }
        },
    }
</script>

<style>
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}
</style>
