<template>
    <div>
        <label class="col-sm-3 col-form-label">Permission Name</label>
        <div class="col-sm-12">
            <div class="form-group">
                <input type="text" class="form-control"
                       :class="{ 'is-invalid': permissionInput.errors.has('name') }" v-model="permissionInput.name">
                <has-error :form="permissionInput" field="name"></has-error>
            </div>
        </div>
    </div>

</template>

<script>
import {Form, HasError, AlertError, AlertSuccess} from 'vform';
export default {
name: "PermissionForm",
    components: {HasError, AlertError, AlertSuccess},
    props:{
        form:{
            type:Object,
            required:true
        }
    },
    computed:{
        permissionInput(){
            return this.form;
        }
    }
}
</script>

<style scoped>

</style>
