<template>
    <div>
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Edit</h4>
            </div>
            <form class="form-horizontal" v-promise-btn="{action: 'submit'}" v-on:submit.prevent="update"
                  @keydown="permission.onKeydown($event)">
                <div class="card-body">
                    <PermissionForm :form="permission" ></PermissionForm>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-fill btn-success">Submit</button>
                    <button type="button" class="btn btn-fill btn-danger" @click="cancelEdit">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {Form} from 'vform';
    import {mapActions, mapGetters} from "vuex";
    import PermissionForm from './_Form'

    export default {
        name: "PermissionEdit",
        components: {PermissionForm},
        computed: {
            ...mapGetters({
                permission: ["permission/permission"],
            }),

        },
        methods: {
            ...mapActions({getPermission:"permission/fetchPermissionsForDatatable",
                updatePermission:"permission/updatePermission"}),
            cancelEdit() {
                this.$emit("cancelEdit");
            },
            async update() {
                try{
                    await this.$store.commit('permission/PERMISSION_UPDATE',this.permission);
                    await this.updatePermission();
                    await this.getPermission();
                    this.$swal({
                        icon: 'success',
                        title: 'Permission Updated',
                        showConfirmButton: false,
                        timer: 1500
                    });

                }catch(e){
                    console.log(e);
                }


            }
        }
    }
</script>

<style scoped>

</style>
